* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    
}
/* <!-- caja padre --> */

.contenedor1{
    display: flex;
    background-color: #E4E6E6;
    padding: 8px;
}

.caja1 {
    display: flex;
    height: 450px;
    /* border: 1px solid black; */
    margin-top: 40px;
}

.caja2 {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding: 10px;
    /* border: 1px solid black; */
}

.valor-moto {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}

.dat_1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dat_2 {
    display: flex;
    flex-direction: column;
    direction: rtl;
    color: #5D5D5F;
}

.dat_2 .precio strong {
    font-size: 30px;
}

.end-line {
    background-color: #E4E6E6;
    display: flex;
    
}

.end-line p{
    font-size: 10px;
}

.modelo p{
    font-size: 15px;
}


.items {
    display: flex;
    padding: 50px;
    justify-content: space-around;
}

.items .luz-aut {
    padding-right: 8px;
    padding-left: 8px;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.text-ex {
    padding-top: 25px;
    color: #333333;
}

.GSX strong {
    font-size: 21px;
}

.inp {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 120px;
    align-items: center;
}

.inp input {
    background-color: #1A2F44;
    color: white;
    border: none;
    height: 40px;
    width: 250px;
    font-size: 12px;
}

/* ---------fin contenido caja 1----------------------------------- */

#img1{
    height: 220px;
    width: 270px;
}

#img2{
    width: 405px;
    height: 220px;
}

#img3{
    width: 270px;
    height: 220px;
}

#img4{
    width: 405px;
    height: 220px;
}

#img5{
    width: 405px;
    height: 220px;
}

#img6{
    width: 270px;
    height: 220px;
}

#img7{
    width: 405px;
    height: 220px;
}

#img8{
    width: 270px;
    height: 220px;
}

#img9{
    width: 270px;
    height: 220px;
}

#img10{
    width: 405px;
    height: 220px;
}

#img11{
    width: 270px;
    height: 220px;
}

.galeria_fotos{
    width: 1370px;
    height: 710px;
    line-height: 22.8571px;
    padding: 40px 0px 50px;
}

.datos_tecnicos{
    background-color: #1A2F44;
    align-items:center;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
}

.datos_tecnicos h3{
    display: block;
    color: white;
    font-size: 15px;

}

.datos_tecnicos li{
    display: block;
    color: #E4E6E6;
    font-size: 13px;
}

.txt-1{
    display: block;
    padding: 0px 0px 0px 20px;
    text-align: left;
}

.datos_tecnicos img{
    text-align: center;
    line-height: 22.8571px;
    height: 38px;
    width: 49px;
}

.tecnicos1{
    display: flex;
    margin: 0px 0px 50px;
    padding: 0px 15px;
}

.tecnicos2{
    display: flex;
    margin: 0px 0px 50px;
    padding: 0px 15px;
}
.tecnicos3{
    display: flex;
    margin: 0px 0px 50px;
    padding: 0px 15px;
}
.tecnicos4{
    display: flex;
    margin: 0px 0px 50px;
    padding: 0px 15px;
}
.tecnicos5{
    display: flex;
    margin: 0px 0px 50px;
    padding: 0px 15px;
}
.tecnicos6{
    display: flex;
    margin: 0px 0px 50px;
    padding: 0px 15px;
}
.tecnicos7{
    display: flex;
    margin: 0px 0px 50px;
    padding: 0px 15px;
}

.captcha {
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 50px 0px;
    background-image: url(/Img/img.main1/img_fondo.jpg);
}