* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    
}
/* <!-- caja padre --> */

.contenedor1{
    display: flex;
    background-color: gray;
}

.caja1 {
    display: flex;
    left: 10%;
    height: 600px;
    border: 1px solid black;
    margin-top: 50px;
}



.caja2 {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    border: 1px solid black;
}

.valor-moto {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.valor-moto .desde {
    position: absolute;
    background-color: aqua;
    margin: 1px solid black;

}

#img1{
    height: 220px;
    width: 270px;
}

#img2{
    width: 405px;
    height: 220px;
}

#img3{
    width: 270px;
    height: 220px;
}

#img4{
    width: 405px;
    height: 220px;
}

#img5{
    width: 405px;
    height: 220px;
}

#img6{
    width: 270px;
    height: 220px;
}

#img7{
    width: 405px;
    height: 220px;
}

#img8{
    width: 270px;
    height: 220px;
}

#img9{
    width: 270px;
    height: 220px;
}

#img10{
    width: 405px;
    height: 220px;
}

#img11{
    width: 270px;
    height: 220px;
}

.galeria_fotos{
    width: 1349px;
    height: 667px;
    line-height: 22.8571px;
    padding: 40px 0px 50px;
}